<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="stylesheet" href="..\static\css\form.css">
    <!-- <link rel="stylesheet" href="..\static\css\edit.css"> -->
</head>

<body>
    <!-- <img src = "{% static '/R.jpg' %}" height="200" width="200" class="d-inline-block align-top"> -->
    <form method="POST" action="/update2/{{proveedores.id}}">
        {% csrf_token %}
        <div class="items">
            <br>
            <p>
                <h3>ACTUALIZAR DATOS</h3>
                <br>
            </p>
        </div>
        <div class="items">
            <p>codigo:</p>
            <div>
                <input type="text" name="codigo" value="{{proveedores.codigo}}" />
            </div>
        </div>
        <div class="items">
            <p>proveedor:</p>
            <div>
                <input type="text" name="proveedore" value="{{proveedores.proveedore}}" />
            </div>
        </div>
        <div class="items">
            <p>contacto telefonico:</p>
            <div>
                <input type="text" name="contacto_tel" value="{{proveedores.contacto_tel}}" />
            </div>
        </div>
        <div class="items">
            <p>correo:</p>
            <div>
                <input type="text" name="correo" value="{{proveedores.correo}}" />
            </div>
        </div>
        
        <div class="items">
            <br>
            <button class="boton" type="submit">Update</button>
        </div>
    </form>
</body>

</html>