<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '..\static\css\style.css'%}">
    <link rel="stylesheet" href="{% static '..\static\css\form.css'%}">
</head>

<body>
    <!-- <img src = "{% static '/R.jpg' %}" height="200" width="200" class="d-inline-block align-top"> -->
    <form method="POST" action="/emp">
        {% csrf_token %}
        <div>
            <br>
            <div class="formulario">
                <div class="items">
                    <p>id:</p>{{ form.id }}
                </div>
                <div class="items">
                    <p>codigo:</p>{{ form.eid }}
                </div>
                <div class="items">
                    <p>Nombre producto:</p>{{ form.epaciente }}
                </div>
                <!-- <div class="items">
                    <p>Fecha hora:</p>{{ form.efechahora }}
                </div> -->
                <div class="items">
                    <p>proveedor:</p>{{ form.emedico }}
                </div>
                <div class="items">
                    <p>unidades existentes:</p>{{ form.edistri }}
                </div>
                <div class="items">
                    <p>costo:</p>{{ form.ecolor }}
                </div>
                <div class="items" >
                    <br>
                    <button class="boton" border-radius: 12px; type="submit">Submit</button>
                    
                </div>
            </div>
        </div>
    </form>
</body>

</html>