<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\menu.css">
    <title>Document</title>
</head>
<body>
    <body>
        <nav>
          <ul class="menu-hor">
            <li>
              <a href="https://www.iealejandrovelez.edu.co/"><img id="escudo" src="../static/ie.alejandro_velez_barrientos-removebg-preview.png" alt=""></a>
            </li>
          </ul>
          <ul class="menu-hor">
            <li>
              <a href="">crud</a>
              <ul class="menu-vert">
                <li><a href="show">productos</a></li>
                <li><a href="shp">proveedores</a></li>
              </ul>
            </li>
            <li>
              <a href="">registrar</a>
              <ul class="menu-vert">
                <li><a href="/emp">productos</a></li>
                <li><a href="/emp2">proveedor</a></li>
                <li><a href="">empleado</a></li>
              </ul>
            </li>
            <li>
              <a href="/emp">iniciar sesion</a>
            </li>
            
          </ul>
        </nav>
    
        <div class="menn" id="m1">
          <section class="presentacion">
            <div class="imagenes">
              
              <h2 class="title">TIENDA ESCOLAR</h2>
              
            </div>
          </section>
        </div>
        <footer></footer>
      </body>
</body>
</html>