<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Record</title>
    {% load static %}
    <link rel="stylesheet" href="..\static\css\table.css">
    <!-- <link rel="stylesheet" href="..\static\css\style.css"> -->
</head>

<body>
    <div class="itm">
        <h1>INVENTARIO</h1>
        <img class="estar"  src = "{% static '/estar.png' %}" height="200" width="200" class="d-inline-block align-top">
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>codigo</th>
                <th>producto</th>
                
                <th>proveedor</th>
                <th>cantidad</th>
                <th>precio</th>
                <!-- <th>fechahora</th> -->
                <th>editar</th>
                <th>borrar</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.eid }}</td>
                <td>{{employee.epaciente}}</td>
                <td>{{employee.emedico}}</td>
                <td>{{employee.edistri}}</td>
                <td>{{employee.ecolor}}</td>
                <!-- <td>{{employee.efechahora}}</td> -->

                <td>
                    <a class="edit" href="/edit/{{ employee.id }}">Edit</a>
                </td>
                <td><a class="delete" href="/delete/{{employee.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <div class="botones">
        <div class="itm">
        <button class="boton"><a href="/emp">agregar un producto nuevo</a></button>
        </div>
        <div class="itm">
        <button class="boton"><a href="/menu">volver al menu</a></button>
        </div>
    </div>
    
</body>


</html>